<!-- <h1>{{inputFromParent}}</h1> -->

<!-- <button type="button" (click)="PostData()">Post Data</button> -->
<h1>child component</h1>
<h1>{{message}}</h1>



<!-- <form [formGroup]='loginForm' novalidate class="form">
    <input formControlName='email'
           type="text"
           class="form-control"
           placeholder="Enter Email" />
    <input formControlName='password'
           type="password"
           class="form-control"
           placeholder="Enter Password" />
</form>
{{loginForm.value | json}}
{{loginForm.status | json }} -->
<div class="col-lg-3">   

<form (ngSubmit)='loginUser()' [formGroup]='loginForm' novalidate >
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName='email'  type="text" class="form-control" placeholder="Enter Email" />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName='password' type="password" class="form-control" placeholder="Enter Password" />
    </div>
    <button class="btn btn-default" > Login</button>
</form>

</div>




